html {
  scroll-behavior: smooth;
}

body {
  background-color: #79021d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: left;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 30px;
}


a.h {
  background-color: #000407;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
  border-radius: 20px;
}

a.h:hover,
a.h:focus {
  background-color: rgba(128, 128, 128, 0.267);
}

.left {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 150px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: #000407;
  position: fixed;
  width: 100%;
  z-index: 1;
  flex-wrap: wrap;
}

li .h {
  display: flex;
  flex-direction: row;
margin-left: 10px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Itim';
  flex-wrap: wrap;
  padding: 20px;
}

.h {
  display: flex;
  flex-direction: row;
  top: 40px;
}

.start {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

header>h2 {
  position: relative;
  top: 75px;
  font-size: 100px;
  font-family: 'Joti One';
  flex-wrap: wrap;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  left: 20px;
}

.q {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 70px;
  font-family: 'Joti One';
  flex-wrap: wrap;
}

.po {
  height: 275px;
  border-radius: 200px;
  width: 350px;
  position: relative;
  right: 9em;

}


hr {
  height: 20px;
  border: none;
  border-radius: 40px;
  background-color: white;
  flex-wrap: wrap;

}

.ht {
  border-radius: 30px;
  background-color: #EDB518;
  color: #79021D;
  border: 0px;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 42em;
  font-family: 'Itim';
  flex-wrap: wrap;

}

.carousel-inner {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  right: 0px;
  margin: 12px;
  padding: 10px;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.card1 {
  position: relative;
  right: 170px;
  width: 350px;
}

.card3 {
  width: 300px;
  position: relative;
  right: 140px;
}

.card2 {
  width: 500px;
  position: relative;
  right: 200px;
}

.card4 {
  width: 500px;
  position: relative;
  right: 230px;
}

.card5 {
  width: 600px;
  position: relative;
  right: 290px;


}

.card6 {
  width: 600px;
  position: relative;
  right: 250px;
}

.tnt {
  position: relative;
  left: 80px;
  flex-wrap: wrap;
}

.box {
  width: 40px;
}

.net {
  font-size: 50px;
}



.pio {
  font-size: 35px;
  display: flex;
  color: #ffffff;
  flex-direction: row;
  justify-content: center;
  font-family: 'Itim';
  flex-wrap: wrap;
  margin: 20px;
}

video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 200px;
  height: 580px;
  margin: 30px;
  right: 192px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

section  a{
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
  border-radius: 40px;
  opacity: 0.8px;
}

section a:hover,
section a:focus {
  background-color: rgba(128, 128, 128, 0.37);
}

p {
  font-family: 'Itim';
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
}

h4 {
  font-size: 2em;
  font-family: 'Itim';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.re {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 300px;
  width: 700px;
  flex-wrap: wrap;
  background-color: #EDB518;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  font-size: 30px;
  color: #ffffff;
}

.net {
  font-size: 35px;
  position: relative;
  left: 70px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  
}
.net:hover{
  background-color: #c89046d7;
}

.box {
  position: relative;
  left: 50px;
}


@media  (max-width: 767px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .left {
    top: 5px;
    height: 30px;
    position: absolute;
    left: 0px;
  }


  ul {
    gap: 1px;
    width: 100%;
    background-color: #000407;
    height: 50px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  

  li .h {
    color: #ffffff;
    font-size: 7px;
  }

  header>h2 {
    top: 40px;
    font-size: 20px;
    padding: 5px;
    margin: 15px;
  }

  .q {
    font-size: 20px;
    position: relative;
    left: 80px;

  }

  .po {
    height: 150px;
    width: 160px;
    position: relative;
    right: 0px;
    top: 10px;

  }

  .p {
    font-size: 20px;
  }

  .ht {
    border-radius: 40px;
    left: 159px;
    font-size: 15px;
    margin-top: 10px;
  }

  .carousel-item {
    position: relative;
    right: 70px;


  }

  .card5 {
    position: relative;
    left: 40px;

  }

  .card1 {
    position: relative;
    left: 40px;
  }


  aside {
    justify-content: center;
    font-size: 20px;
    margin-right: 35px;
  }

  .pio {
    font-size: 12PX;
    margin: 10px;
  }

  video {
    height: 240px;
    position: relative;
    left: 8px;
    right: 500px;
    margin: 0px;
    top: 10px;
  }

  h4 {
    font-size: 2em;
    margin: 20px;
  }

  hr {
    border: 0px;
    border-radius: 40px;
    background-color: rgb(213, 227, 239);
  }

  .p {
    font-size: 5px;
  }

  .re {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    left: 150px;
    width: 200px;
  }

  .card-title {
    font-size: 15px;
  }

  .net {
    font-size: 15px;
    position: relative;
    left: 0px;
    bottom: 15px;
    margin: 10px;
  }

  .box {
    width: 20px;
    position: relative;
    left: 0px;
    bottom: 16px;
  }



  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
  }

  .card1 {
    position: relative;
    width: 250px;
    position: relative;
    left: -70px;
  }

  .card3 {
    width: 250px;
    position: relative;
    left: -70px;
  }

  .card2 {
    width: 250px;
    position: relative;
    left: -70px
  }

  .card4 {
    width: 250px;
    position: relative;
    left: -70px;
  }

  .card5 {
    width: 350px;
    position: relative;
    left: -100px;
  }

  .card6 {
    width: 400px;
    position: relative;
    left: -120px;

  }

  .tnt {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .col {
    width: 50px;
  }
}